CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_MULTI_PROFILE=y

CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_tplink_tl-wr886n-v2=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_tplink_tl-wr886n-v2=""
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_tplink_tl-wr845n-v3=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_tplink_tl-wr845n-v3=""
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_tplink_tl-wr941n-v5-cn=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_tplink_tl-wr941n-v5-cn=""
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_mercury_mw150r-v10=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_mercury_mw150r-v10=""


CONFIG_PACKAGE_luci=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-theme-openwrt-2020=y
CONFIG_PACKAGE_wget-ssl=y
